@page "/utility/about"
@inherits AboutPage

<h1>About</h1>

My name is Justin Antoszek and I'm very interested in this Blazor thing! I hope you enjoy my little test project.

<h3>Technologies Used</h3>

<ul>
    <li>ASP.NET Core 2.1 Preview 2</li>
    <li>.NET Standard 2.0</li>
    <li>Blazor 0.3.0</li>
    <li>Visual Studio 2017 (15.8.0 Preview 1.1)</li>
    <li>Microsoft.VisualStudio.BlazorExtension</li>
</ul>

<h3>Learn More</h3>

<ul>
    <li><a href="https://blazor.net/">https://blazor.net/</a></li>
    <li><a href="https://learn-blazor.com/architecture/interop/">https://learn-blazor.com/architecture/interop/</a></li>
    <li><a href="https://gitter.im/aspnet/Blazor">https://gitter.im/aspnet/Blazor</a></li>
</ul>

<Error Exception=@PageException />