@page "/Utility/About"

<h4>About</h4>

<h3>Github</h3>
<ul>
	<li><a href="https://github.com/tinyioda/Randify" target="_blank">https://github.com/tinyioda/Randify</a></li>
</ul>

<h3>Technologies Used</h3>
<ul>
	<li>.NET Standard 2.0</li>
	<li>ASP.NET Core 3.0</li>
	<li>Server-Side Blazor 1.0</li>
	<li>Visual Studio 2019 (16.4.0 Preview 1)</li>
	<li>Microsoft.VisualStudio.BlazorExtension</li>
</ul>

<h3>Learn More</h3>
<ul>
	<li><a href="https://github.com/aspnet/Blazor" target="_blank">https://github.com/aspnet/Blazor</a></li>
	<li><a href="https://blazor.net/" target="_blank">https://blazor.net/</a></li>
	<li><a href="https://learn-blazor.com/architecture/interop/" target="_blank">https://learn-blazor.com/architecture/interop/</a></li>
	<li><a href="https://gitter.im/aspnet/Blazor" target="_blank">https://gitter.im/aspnet/Blazor</a></li>
	<li><a href="https://github.com/AdrienTorris/awesome-blazor" target="_blank">https://github.com/AdrienTorris/awesome-blazor (Awesome list of projects using Blazor)</a></li>
</ul>