@page "/utility/about"
@inherits AboutPage

<h1>About</h1>

<h3>Github</h3>
<ul>
    <li><a href="https://github.com/tinyioda/Randify" target="_blank">https://github.com/tinyioda/Randify</a></li>
</ul>

<h3>Technologies Used</h3>

<ul>
    <li>.NET Standard 2.0</li>
    <li>ASP.NET Core 2.1 Preview 2</li>
    <li>Blazor 0.3.0</li>
    <li>Visual Studio 2017 (15.8.0 Preview 1.1)</li>
    <li>Microsoft.VisualStudio.BlazorExtension</li>
</ul>

<h3>Learn More</h3>

<ul>
    <li><a href="https://github.com/aspnet/Blazor" target="_blank">https://github.com/aspnet/Blazor</a></li>
    <li><a href="https://blazor.net/" target="_blank">https://blazor.net/</a></li>
    <li><a href="https://learn-blazor.com/architecture/interop/" target="_blank">https://learn-blazor.com/architecture/interop/</a></li>
    <li><a href="https://gitter.im/aspnet/Blazor" target="_blank">https://gitter.im/aspnet/Blazor</a></li>
</ul>

<h3>Known Issue</h3>

<p>Blazor is an experimental technology early in it's infancy. It's ability to unpack the JSON data from 
the Spotify Web API causes is currently very slow. Each set of 100 songs takes about 10-12 seconds to load.
Small playlists are recommended for now.</p>

<Error Exception=@PageException />