@page "/authenticated/playlistoptions"

@inherits Spotify.Pages.Authenticated.PlaylistOptionsPage

<div class="row">
    <div class="col col-md-4">
        <div class="card">
            <div class="card-header">
                Randify!
            </div>
            <div class="card-body">
                <p class="card-text">Yes, it's the Original Randify! Spotify's shuffle feature is terrible. I fixed it.</p>
                <a href="@Spotify.Services.Urls.AuthenticatedRandifier" class="card-link">Let's Randify</a> (<a href="https://www.reddit.com/search/?q=spotify%20shuffle" target="_blank" class="card-link" style="margin-left: 0; padding-left: 0;">/r</a>)
            </div>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card">
            <div class="card-header">
                Favorite Artists + Top Songs
            </div>
            <div class="card-body">
                <p class="card-text">Create a new playlist using all of your liked Artists.</p>
                <a href="@Spotify.Services.Urls.AuthenticatedMyArtistsTopSongs" class="card-link">Create Playlist</a> (<a href="https://www.reddit.com/r/spotify/comments/bnmasu/please_upvote_the_ability_to_shuffle_songs_from/en8l287/?context=3" target="_blank" class="card-link" style="margin-left: 0; padding-left: 0;">/r</a>)
            </div>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card">
            <div class="card-header">
                Statistics
            </div>
            <div class="card-body">
                <p class="card-text">Learn about your listening habits.</p>
                <a href="@Spotify.Services.Urls.AuthenticatedStats" class="card-link">Learn More</a> (<a href="https://www.reddit.com/r/spotify/search/?q=statistics&restrict_sr=1" target="_blank" class="card-link" style="margin-left: 0; padding-left: 0;">/r</a>)
            </div>
        </div>
    </div>
</div>
