@inherits MainLayoutComponent
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using Microsoft.AspNetCore.Blazor.Services

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (AuthenticationService.IsAuthenticated)
            {
                <a class="navbar-brand" href="/authenticated/randifier">Randify</a>
            }
            else
            {
                <a class="navbar-brand" href="/index">Randify</a>
            }
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    @if (AuthenticationService.IsAuthenticated)
                    {
                        <a class="nav-link" href="/authenticated/randifier">Home</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/index">Home</a>
                    }                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/utility/about">About</a>
                </li>
                @if (AuthenticationService.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick=@Logout>Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    @Body
    <hr>
    <footer>
        <p>Randify @DateTime.Now.Year</p>
    </footer>
</div>