@page "/"
@page "/index"
@inherits IndexPage

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Randify!</h1>
        <br />
        <p>I find Spotify's shuffle to be terrible at best. Here is my Solution.</p>
        <br />
        <p>Also, this is entirely experimental software. Use at your own risk! I am not responsible if a playlist goes missing :)</p>
        <br />
        <br />
        <p><a class="btn btn-primary btn-lg" href="@ConfigurationService.Current.SpotifyLoginUrl" role="button">Log In Now &raquo;</a></p>
    </div>
</div>

<Error Exception=@PageException />