@page "/"
@inherits Randify.Pages.IndexPage
@using Randify.Utilities

<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Randify!</h1>
		<br />
		<p>
			People of have requests for a better Spotify. I've created some tools based on <a href="@Urls.RedditUrl" target="_blank">Reddit</a> suggestions.
			<br />
			<br />
			<br />
			<br />
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="@SpotifyService.SpotifyLoginUrl" role="button">Log In Now</a>
		</p>
	</div>
</div>