/* Style buttons */
.playbutton {
    background-color: transparent;
    border: none;
    color: #4caf50;
    padding: 8px 5px 5px 5px;
    font-size: 18px;
    cursor: pointer;
}
    .playbutton:hover {
        color: black;
    }
    .playbutton:focus {
        outline: 0;
    }

.table > tbody > tr > td {
    vertical-align: middle;
}